Code-Examples/NODE-Red-Flows/LakeWeekUI.json
[
    {
        "id": "df9501992bd2fa08",
        "type": "tab",
        "label": "Lake Week UI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4ed322e719cd7648",
        "type": "debug",
        "z": "df9501992bd2fa08",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 280,
        "wires": []
    },
    {
        "id": "dc05682333cf2187",
        "type": "ui_template",
        "z": "df9501992bd2fa08",
        "group": "986589ef3e623891",
        "name": "",
        "order": 0,
        "width": "10",
        "height": "15",
        "format": "<script>\n    var options = [\"Block 1\", \"Block 2\", \"Block 3\", \"Block 4\", \"Block 5\"];\n\nthis.scope.action = function() {\n    // Randomly select an option from the array\n    var randomIndex = Math.floor(Math.random() * options.length);\n\n    // Get the wheel element\n    var wheel = document.getElementById('fortune-wheel');\n\n    // Get the triangle element\n    var triangle = document.getElementById('fortune-triangle');\n\n    // Calculate the rotation angle for the selected option\n    var rotationAngle = randomIndex * (360 / options.length);\n\n    // Apply the rotation animation to the wheel\n    wheel.style.transition = 'transform 3s ease-out';\n    wheel.style.transform = 'rotate(' + (360 * 10 + rotationAngle) + 'deg)';\n\n    // Return the selected option after a delay\n    setTimeout(function() {\n        wheel.style.transition = '';\n        wheel.style.transform = 'rotate(' + rotationAngle + 'deg)';\n    }, 3000);\n\n    return options[randomIndex];\n}\n</script>\n\n<style>\n    /* Style for the fortune wheel */\n    #fortune-wheel {\n    width: 510px;\n    height: 510px;\n    border-radius: 50%;\n    border: 5px solid #ccc;\n    position: relative;\n    background: conic-gradient(\n    #9b59b6 0deg 36deg,    /* Purple */\n    #3498db 36deg 108deg,  /* Blue */\n    #2ecc71 108deg 180deg, /* Green */\n    #e74c3c 180deg 252deg, /* Red */\n    #f39c12 252deg 324deg, /* Yellow/Orange */\n    #9b59b6 324deg 360deg  /* Purple */\n    );\n    }\n\n    /* Style for the triangle at the top */\n    #fortune-triangle {\n        position: absolute;\n        top: 40;\n        left: 50%;\n        width: 0;\n        height: 0;\n        border-left: 10px solid transparent;\n        border-right: 10px solid transparent;\n        border-top: 20px solid #ccc;\n        /* Triangle color */\n        transform: translateX(-50%);\n    }\n    #divider{\n        width:510px;\n        height:15px;\n        display:inline-block;\n    }\n</style>\n\n<div id=\"fortune-wheel\"></div>\n<div id=\"fortune-triangle\"></div>\n<div id=\"divider\"></div>\n\n<md-button ng-click=\"send({payload:action()})\">\n    Let's PLAY\n</md-button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 440,
        "y": 280,
        "wires": [
            [
                "4ed322e719cd7648",
                "9bfa792afccf0080"
            ]
        ]
    },
    {
        "id": "05440350a627c580",
        "type": "mqtt out",
        "z": "df9501992bd2fa08",
        "name": "",
        "topic": "dobot/order",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d2fb69f225e9f9a6",
        "x": 970,
        "y": 320,
        "wires": []
    },
    {
        "id": "b8f9dc7b3bb01a31",
        "type": "inject",
        "z": "df9501992bd2fa08",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "home",
        "payloadType": "str",
        "x": 450,
        "y": 320,
        "wires": [
            [
                "05440350a627c580"
            ]
        ]
    },
    {
        "id": "9bfa792afccf0080",
        "type": "delay",
        "z": "df9501992bd2fa08",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 640,
        "y": 300,
        "wires": [
            [
                "05440350a627c580"
            ]
        ]
    },
    {
        "id": "d79e9f06220d28a7",
        "type": "inject",
        "z": "df9501992bd2fa08",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 450,
        "y": 360,
        "wires": [
            [
                "05440350a627c580"
            ]
        ]
    },
    {
        "id": "1d5cc2ba61975797",
        "type": "inject",
        "z": "df9501992bd2fa08",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Block 2",
        "payloadType": "str",
        "x": 450,
        "y": 400,
        "wires": [
            [
                "05440350a627c580"
            ]
        ]
    },
    {
        "id": "4b279c612797a222",
        "type": "inject",
        "z": "df9501992bd2fa08",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Block 3",
        "payloadType": "str",
        "x": 450,
        "y": 440,
        "wires": [
            [
                "05440350a627c580"
            ]
        ]
    },
    {
        "id": "fb3a016f0da6f63e",
        "type": "inject",
        "z": "df9501992bd2fa08",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Block 4",
        "payloadType": "str",
        "x": 450,
        "y": 480,
        "wires": [
            [
                "05440350a627c580"
            ]
        ]
    },
    {
        "id": "074f4c2b33b7f10c",
        "type": "inject",
        "z": "df9501992bd2fa08",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Block 5",
        "payloadType": "str",
        "x": 450,
        "y": 520,
        "wires": [
            [
                "05440350a627c580"
            ]
        ]
    },
    {
        "id": "83d93d887bd5cdd8",
        "type": "mqtt out",
        "z": "df9501992bd2fa08",
        "name": "",
        "topic": "dobot/LR",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6ee45a4901ed1a5e",
        "x": 720,
        "y": 680,
        "wires": []
    },
    {
        "id": "e24cfbaf8e72eccd",
        "type": "inject",
        "z": "df9501992bd2fa08",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 680,
        "wires": [
            [
                "83d93d887bd5cdd8"
            ]
        ]
    },
    {
        "id": "54ef25f709e91431",
        "type": "random",
        "z": "df9501992bd2fa08",
        "name": "",
        "low": "2",
        "high": "5",
        "inte": "true",
        "property": "payload",
        "x": 880,
        "y": 420,
        "wires": [
            [
                "05440350a627c580"
            ]
        ]
    },
    {
        "id": "a3af29ccfd3dd11a",
        "type": "inject",
        "z": "df9501992bd2fa08",
        "name": "RandomBlock",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 990,
        "y": 580,
        "wires": [
            [
                "54ef25f709e91431"
            ]
        ]
    },
    {
        "id": "955e305605f1aec7",
        "type": "mqtt in",
        "z": "df9501992bd2fa08",
        "name": "testMarco",
        "topic": "testMarco",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6ee45a4901ed1a5e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 760,
        "wires": [
            [
                "9db92826dc532f13"
            ]
        ]
    },
    {
        "id": "9db92826dc532f13",
        "type": "debug",
        "z": "df9501992bd2fa08",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 760,
        "wires": []
    },
    {
        "id": "b82a797d5124b2b0",
        "type": "mqtt in",
        "z": "df9501992bd2fa08",
        "name": "RandomBlocks",
        "topic": "RandomBlocks",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6ee45a4901ed1a5e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 660,
        "y": 580,
        "wires": [
            [
                "54ef25f709e91431"
            ]
        ]
    },
    {
        "id": "986589ef3e623891",
        "type": "ui_group",
        "name": "Lake Week",
        "tab": "0f25d43f8abf4ba4",
        "order": 1,
        "disp": false,
        "width": "10",
        "collapse": false
    },
    {
        "id": "d2fb69f225e9f9a6",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "6ee45a4901ed1a5e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0f25d43f8abf4ba4",
        "type": "ui_tab",
        "name": "Dobot",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]